
body {
  background-color: #fcead7;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ff5c35;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
